XML/Bol1_XML/Ex4_XML/ListaCompra.dtd

<!ELEMENT listaCompra (venta)+>
<!ELEMENT venta ((ventaCredito | ventaInmediata))>
<!ELEMENT ventaCredito (fechafinpago?, cantidad)>
<!ELEMENT fechafinpago (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT ventaInmediata (cantidad, divisas)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT divisas (#PCDATA)>
